<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/menadzer.css' />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script>
      function odjava() {
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <div class="sidebar">
      <h1 style="margin-left: 5px; text-align: center">Meni</h1>
      <br>
      <ul>
        <li><a href="/menadzer/menadzer-profil/<%= menadzer.id_menadzer %>"> <%= menadzer.username_menadzer %> </a></li>
        <li><a href="/menadzer/projekti/<%= menadzer.id_menadzer %>">Projekti</a></li>
        <li><a href="/menadzer/poruke/<%= menadzer.id_menadzer %>">Poruke</a></li>
        <li><a href="/menadzer/rang-lista/<%= menadzer.id_menadzer %>">Rang lista</a></li>
        <li><a href="/menadzer/ocjene/<%= menadzer.id_menadzer %>">Ocijenite aplikaciju</a></li>
      </ul>
      <br>
      <div class="button-container">
        <button onclick="odjava()">Odjava</button>
      </div>
    </div>

    <div class="content">
      <h1>Dobrodošli <%= menadzer.ime_menadzer %>  <%= menadzer.prezime_menadzer %>!</h1>
      <br>
      <p><i class="fas fa-user"></i> Username: <%= menadzer.username_menadzer %></p>
      <p><i class="fas fa-envelope"></i> Email: <%= menadzer.email_menadzer %></p>
      <p><i class="fas fa-calendar"></i> Datum rođenja: <%= menadzer.datumrodjenja_menadzer.toLocaleDateString("en-GB") %></p>
      <p><i class="fas fa-building"></i> Naziv kompanije: <%= menadzer.nazivkompanije_menadzer %></p>
      <br>
      <p><i class="fas fa-arrow-left"></i> Odaberite stavku iz menija.</p>
    </div>
  </body>
</html>
